@model IEnumerable<Abuse.Models.Docket>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Accussed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccussedDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offense)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfOffense)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Victim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressOfOffender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OfficerOnCase)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvestigativeOfficer)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accussed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccussedDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfOffense)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Victim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressOfOffender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficerOnCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvestigativeOfficer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
